<%- include('header') -%>
<body>
    <div class="box" id="heading">
        <h2><%=listTitle%></h2>
    </div>

    <div class="box" id="todolist-container">
        <% for(let item of newTodo){%>
        <div class="item">
            <input type="checkbox"/>
            <p><%=item%></p>
        </div>
            <%}%>
        
            <form class="item" action="/" method="POST">
                <input type="text" placeholder="Enter a new task" id="itemInp" name="itemInp"/>
                <button type="submit" value=<%=listTitle%>>+</button>
            </form>    
        </div>
        <div id="resetButtonContainer">
            <a href="/r"><button type="submit" id="resetButton">Reset</button></a>
        </div>

<script src="scripts/script.js"></script>

<%- include('footer') -%>